<div id="loading" style='display:none'>Loading...</div>
<div class="simple_overlay" id="overlay">
  <!-- the external content is loaded inside this tag -->
  <div class="contentWrap">Loading...</div>
</div>