$background_color: #FFF;
$font_color: #000;
$link_color: #226ca1;
$border_color: #000;

/* Menu */
$menu_background_color: #226ca1;
$menu_link_color: #fff;

/* Flash: */
$notice_border_color: #66aa33;
$notice_background_color: #B9FF95;
$alert_border_color: #cd0a0a;
$alert_background_color: #fef1ec;
$alert_font_color: #cd0a0a;